{{! Partial for a single post }}
<div class="post">
    {{#if album}}
        <div class="album-info">
            <img src="{{album.images.[0].url}}" alt="{{album.name}}" />
            <h3>{{album.name}}</h3>
            <p>{{album.artists.[0].name}}</p>
        </div>
    {{/if}}
    <div class="post-avatar">
        <img src="{{avatar_url}}" alt="User Avatar">
    </div>
    <div class="post-content-wrapper">
        <div class="post-content preserve-newlines">
            <div class="post-header">
                <span class="post-author">{{username}}</span>
                <h3>{{title}}</h3>
                <p>{{content}}</p>
            </div>
        </div>
        <div class="post-status-bar">
            <div class="post-timestamp-likes"></div>
                <span class="post-timestamp">{{timestamp}}</span>
                <span class="post-likes">Likes: {{likes}}</span>
            
                {{#ifCond username user.username}}
                    <button class="delete-button" data-id="{{id}}" onclick="handleDeleteClick(event)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                {{else}}
                    <button class="like-button {{#if liked}}liked{{/if}}" data-id="{{id}}" onclick="handleLikeClick(event)">
                        ♥
                    </button>
                {{/ifCond}}
            </div>
        </div>
    </div>
</div>


<script>
    async function handleLikeClick(event) {
        const button = event.target;
        const postId = event.target.getAttribute('data-id');
        // Fetch request to like/unlike the post
        const response = await fetch(`/like/${postId}`, {
            method: 'POST',
        });
        const data = await response.json();
        if (data.success) {
            // Update the like count
            const postElement = event.target.closest('.post');
            const likesElement = postElement.querySelector('.post-likes');
            likesElement.textContent = `Likes: ${data.likes}`;
            // Toggle the liked state class
            button.classList.toggle('liked', data.liked);
        }
    }

    async function handleDeleteClick(event) {
        const postId = event.target.getAttribute('data-id');
        // Fetch request to delete the post
        const response = await fetch(`/delete/${postId}`, {
            method: 'POST',
        });
        const data = await response.json();
        if (data.success) {
            // Remove the post
            let postElement = event.target.closest('.post');
            postElement.remove();
        }
    }    
</script>
